#userSignIn{
    z-index: 12;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    padding: 150px 350px 100px 450px;
    overflow: scroll;
    .window-bar{
        max-width: 1025px;
        width: 100%;
        height: 30px;
        background: #5792bc;
        text-align: end;
        .close-btn{
            width: 30px;
            height: 100%;
            background: #ff0000;
            color: #f8f8f8;
            border: 0;
            font-weight: 700;
        }
    }
    #container1{
        width: 100%;
        height: 580px;
        max-width: 1025px;
        background: #fff;
        overflow: scroll;
        .headre{
            width: 100%;
            height: 94px;
            padding: 15px 20px;
            border-bottom: 1px solid #ccc;
            .logo{
                display: block;
                width: 250px;
                height: 100%;
                background: url('../../../public/images/sub/signup/layout.png') left top no-repeat;
                span{

                }
            }
        }
        .main{
            margin-top: 30px;
            width: 100%;
            padding: 20px;
            form{
                width: 100%;
                .section1{
                    width: 100%;
                    text-align: center;
                    .left{
                        width: 100%;
                        .row1{
                            width: 100%;
                            margin-bottom: 10px;
                            h2{
                                font-size: 20px;
                                margin-bottom: 10px;
                            }
                            input{
                                margin-right: 5px;
                            }
                            label{
                                
                            }
                        }
                        .row2{
                            width: 100%;
                            margin-bottom: 10px;
                            input{
                                padding: 5px 10px;
                            }
                        }
                        .row3{
                            width: 100%;
                            margin-bottom: 10px;
                            input{
                                padding: 5px 10px;
                            }
                        }
                        .row4{
                            width: 100%;
                            margin-bottom: 10px;
                            input{
                                margin-right: 5px;
                            }
                            label{
                                
                            }
                        }
                        .row5{
                            width: 100%;
                            margin-bottom: 20px;
                            .logIn{
                                width: 140px;
                                padding: 10px;
                            }
                        }
                        .row6{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                margin-right: 10px;
                            }
                            p{
                                margin-right: 10px;
                            }
                        }
                    }
                    .right{

                    }
                }
            }
        }
        .foodter{
            margin-top: 50px;
            width: 100%;
            height: 150px;
            border-top: 1px solid #ccc;
            background: #f8f8f8;
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                .left{
                    width: 25%;
                    height: 100%;
                    padding: 40px 20px 40px 20px;
                    .logo{
                        display: block;
                        width: 250px;
                        height: 60px;
                        background: url('../../../public/images/sub/signup/layout.png') 0 0 no-repeat;
                        span{
                        }
                    }
                }
                .rignt{
                    width: 75%;
                    height: 100%;
                    padding: 60px 30px 40px 30px;
                    h2{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}