#SubUserSIgnUp{
    z-index: 12;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    padding: 150px 350px 100px 450px;
    overflow: scroll;
    .window-bar{
        max-width: 1025px;
        width: 100%;
        height: 30px;
        background: #5792bc;
        text-align: end;
        .close-btn{
            width: 30px;
            height: 100%;
            background: #ff0000;
            color: #f8f8f8;
            border: 0;
            font-weight: 700;
        }
    }
    #container1{
        width: 100%;
        height: 580px;
        max-width: 1025px;
        background: #fff;
        overflow: scroll;
        .headre{
            width: 100%;
            height: 94px;
            padding: 15px 20px;
            border-bottom: 1px solid #ccc;
            .logo{
                display: block;
                width: 250px;
                height: 100%;
                background: url('../../../public/images/sub/signup/layout.png') left top no-repeat;
                span{

                }
            }
        }
        .main1{
            width: 100%;
            padding: 20px;
            .section1{
                margin-top: 30px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    font-size: 18px;
                    font-weight: 500;
                    color: #222;
                }
            }
            .section2{
                width: 100%;
                padding: 20px;
                margin-top: 20px;
                border: 1px solid #ccc;
                border-top: 1px solid #222;
                .textbox{
                    width: 100%;
                    h2{
                        font-size: 18px;
                        font-weight: 500;
                        color: #222;
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 17px;
                        font-weight: 300;
                        em{
                            vertical-align: top;
                            color: #5792bc;
                            font-weight: 400;
                        }
                    }
                }
                .button-box{
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        position: relative;
                        width: 175px;
                        padding: 60px 20px 20px 20px;
                        background: rgb(86, 146, 188);
                        border: 0;
                        color: #fff;
                        font-size: 15px;
                        cursor: pointer;
                        &.btn1{
                            margin-right: 10px;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 20px;
                                left: 75px;
                                width: 31px;
                                height: 31px;
                                display: block;
                                background: url('../../../public/images/sub/signup/sign_up_icon01.png') center top no-repeat;
                            }
                        }
                        &.btn2{
                            margin-right: 10px;
                            letter-spacing: -0.05rem;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 20px;
                                left: 75px;
                                width: 31px;
                                height: 31px;
                                display: block;
                                background: url('../../../public/images/sub/signup/sign_up_icon02.png') center top no-repeat;
                            }
                        }
                        &.btn3{
                            background-color: #426f8f;
                            letter-spacing: -0.07rem;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 20px;
                                left: 75px;
                                width: 31px;
                                height: 31px;
                                display: block;
                                background: url('../../../public/images/sub/signup/sign_up_icon03.png') center top no-repeat;
                            }
                        }
                    }
                }
            }
            .section3{
                width: 100%;
                padding: 20px;
                border: 1px solid #ccc;
                border-top: 0;
                .textbox{
                    width: 100%;
                    h2{
                        font-size: 18px;
                        font-weight: 500;
                        color: #222;
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 17px;
                        font-weight: 300;
                        em{
                            vertical-align: top;
                            color: #5792bc;
                            font-weight: 400;
                        }
                    }
                }
                .button-box{
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        position: relative;
                        width: 210px;
                        padding: 30px 30px 30px 60px;
                        background: #426f8f;
                        border: 0;
                        color: #fff;
                        font-size: 15px;
                        cursor: pointer;
                        &.btn1{
                            margin-right: 10px;
                            letter-spacing: -0.05rem;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 50%;
                                margin-top: -13px;
                                left: 20px;
                                width: 31px;
                                height: 31px;
                                display: block;
                                background: url('../../../public/images/sub/signup/sign_up_icon04.png') center top no-repeat;
                            }
                        }
                    }
                }
            }
            .section4{
                width: 100%;
                .text-box{
                    margin-top: 30px;
                    width: 100%;
                    h2{
                        font-size: 16px;
                        font-weight: 300;
                        em{
                            font-weight: 700;
                            vertical-align: top;
                        }
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: 300;
                        em{
                            font-weight: 700;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        .main2{
            width: 100%;
            padding: 20px;
            .section1{
                width: 100%;
                height: 130px;
                ul{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    li{
                        width: calc(25% - 10px);
                        height: 100%;
                        display: flex;
                        border: 1px solid #ccc;
                        margin-right: 10px;
                        span{
                            text-align: center;
                            border-right: 1px solid #ccc;
                            padding: 25px 0;
                            width: 25%;
                            height: 100%;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        p{
                            padding: 25px 10px 10px 10px;
                            width: 75%;
                            height: 100%;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        &:nth-child(1){
                            p{
                                padding: 15px 10px 10px 10px;
                            }
                        }
                    }
                }
                .txt-box{
                    width: 100%;
                    margin-top: 10px;
                    h2{
                        font-size: 18px;
                    }
                }
            }
            .section2{
                margin-top: 50px;
                width: 100%;
                .title{
                    width: 100%;
                    h2{
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                .text-box{
                    margin-top: 30px;
                    padding: 20px;
                    border: 1px solid #ccc;
                    width: 100%;
                    height: 200px;
                    overflow: scroll;
                    span{

                    }
                }
                .check-box{
                    margin-top: 10px;
                    width: 100%;
                    label{
                        font-weight: 500;
                        font-size: 16px;
                        margin-right: 30px;
                        em{
                            vertical-align: top;
                            color: #ff0000;
                        }
                    }
                }
            }
            .section3{
                margin-top: 50px;
                width: 100%;
                .title{
                    width: 100%;
                    h2{
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                .text-box{
                    margin-top: 30px;
                    padding: 20px;
                    border: 1px solid #ccc;
                    width: 100%;
                    height: 200px;
                    overflow: scroll;
                    span{

                    }
                }
                .check-box{
                    margin-top: 10px;
                    width: 100%;
                    label{
                        font-weight: 500;
                        font-size: 16px;
                        margin-right: 30px;
                        em{
                            vertical-align: top;
                            color: #ff0000;
                        }
                    }
                }
            }
            .section4{
                margin-top: 50px;
                width: 100%;
                .title{
                    width: 100%;
                    h2{
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                .text-box{
                    margin-top: 30px;
                    padding: 20px;
                    border: 1px solid #ccc;
                    width: 100%;
                    height: 200px;
                    overflow: scroll;
                    span{

                    }
                }
                .check-box{
                    margin-top: 10px;
                    width: 100%;
                    label{
                        font-weight: 500;
                        font-size: 16px;
                        margin-right: 30px;
                        em{
                            vertical-align: top;
                            color: #ff0000;
                        }
                    }
                }
            }
            .section5{
                margin-top: 30px;
                width: 100%;
                .button-box{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .disagree{
                        font-size: 16px;
                        margin-right: 30px;
                    }
                    .agreement{
                        font-size: 16px;
                    }
                }
            }
        }
        .main3{
            padding: 20px;
            width: 100%;
            .section1{
                width: 100%;
                height: 130px;
                ul{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    li{
                        width: calc(25% - 10px);
                        height: 100%;
                        display: flex;
                        border: 1px solid #ccc;
                        margin-right: 10px;
                        span{
                            text-align: center;
                            border-right: 1px solid #ccc;
                            padding: 25px 0;
                            width: 25%;
                            height: 100%;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        p{
                            padding: 25px 10px 10px 10px;
                            width: 75%;
                            height: 100%;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        &:nth-child(1){
                            p{
                                padding: 15px 10px 10px 10px;
                            }
                        }
                    }
                }
                .txt-box{
                    width: 100%;
                    margin-top: 20px;
                    h2{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
            .section2{
                width: 100%;
                text-align: center;
                .title{
                    width: 100%;
                    h2{
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .input-box{
                    margin-top: 20px;
                    width: 100%;
                    input{
                        padding: 10px;
                    }
                }
            }
            .section3{
                margin-top: 30px;
                width: 100%;
                text-align: center;
                .title{
                    width: 100%;
                    h2{
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .input-box{
                    margin-top: 20px;
                    width: 100%;
                    input{
                        padding: 10px;
                    }
                }
            }
            .section4{
                margin-top: 30px;
                width: 100%;
                .button-box{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .certification{
                        background: #5792bc;
                        border: 0;
                        color: #fff;
                        padding: 20px 30px 20px 30px;
                    }
                }
            }
        }
        .main4{
            width: 100%;
            padding: 20px;
            .section1{
                width: 100%;
                height: 130px;
                ul{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    li{
                        width: calc(25% - 10px);
                        height: 100%;
                        display: flex;
                        border: 1px solid #ccc;
                        margin-right: 10px;
                        span{
                            text-align: center;
                            border-right: 1px solid #ccc;
                            padding: 25px 0;
                            width: 25%;
                            height: 100%;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        p{
                            padding: 25px 10px 10px 10px;
                            width: 75%;
                            height: 100%;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        &:nth-child(1){
                            p{
                                padding: 15px 10px 10px 10px;
                            }
                        }
                    }
                }
                .txt-box{
                    width: 100%;
                    margin-top: 20px;
                    h2{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
            .section2{
                margin-top: 30px;
                width: 100%;
                ul{
                    width: 100%;
                    li{
                        width: 100%;
                        display: flex;
                        .left{
                            width: 20%;
                            display: flex;
                            padding: 20px;
                            background: #eee;
                            border: 1px solid #ccc;
                            p{
                                font-size: 14px;
                            }
                            span{
                                font-size: 14px;
                            }
                        }
                        .right{
                            width: 80%;
                            padding: 20px;
                            border: 1px solid #ccc;
                        }
                        &.signUpForm1{
                            .right{
                                input{
                                    margin-right: 5px;
                                }
                                label{
                                    margin-right: 10px;
                                }
                            }
                        }
                        &.signUpForm2{
                            .left{
                                padding: 40px 20px 20px 20px;
                            }
                            .right{
                                span{
                                    display: inline-flex;
                                    width: 100%;
                                    font-size: 15px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        &.signUpForm3{
                            .left{
                                padding: 30px 20px 20px 20px;
                            }
                            .right{
                                display: flex;
                                input{
                                    padding: 5px 10px;
                                    margin-right: 10px;
                                }
                                button{
                                    padding: 5px 20px;
                                    margin-right: 10px;
                                    background: #6c6c6c;
                                    border: 0;
                                    color: #fff;
                                    font-weight: 500;
                                    font-size: 14px;
                                    cursor: pointer;
                                }
                                p{
                                    padding: 11px 0 0 0;
                                    font-size: 16px;
                                    margin-right: 10px;
                                }
                                span{
                                    padding: 7px 0 0 0;
                                    font-size: 16px;
                                }
                            }
                        }
                        &.signUpForm4{
                            .left{
                                padding: 30px 20px 20px 20px;
                            }
                            .right{
                                display: flex;
                                input{
                                    padding: 5px 10px;
                                    margin-right: 10px;
                                }
                                p{
                                    padding: 11px 0 0 0;
                                    font-size: 16px;
                                    margin-right: 10px;
                                }
                                span{
                                    padding: 7px 0 0 0;
                                    font-size: 16px;
                                }
                            }
                        }
                        &.signUpForm5{
                            .left{
                                padding: 30px 20px 20px 20px;
                            }
                            .right{
                                display: flex;
                                input{
                                    padding: 5px 10px;
                                    margin-right: 10px;
                                }
                                p{
                                    padding: 11px 0 0 0;
                                    font-size: 16px;
                                    margin-right: 10px;
                                }
                                span{
                                    padding: 7px 0 0 0;
                                    font-size: 16px;
                                }
                            }
                        }
                        &.signUpForm6{
                            .left{
                                padding: 20px 20px 20px 20px;
                            }
                            .right{
                                display: flex;
                                span{
                                    font-size: 16px;
                                    font-weight: 500;
                                }
                            }
                        }
                        &.signUpForm7{
                            .left{
                                padding: 20px 20px 20px 20px;
                            }
                            .right{
                                display: flex;
                                span{
                                    font-size: 16px;
                                    font-weight: 500;
                                }
                            }
                        }
                        &.signUpForm8{
                            .left{
                                padding: 20px 20px 20px 20px;
                            }
                            .right{
                                display: flex;
                                input{
                                    margin-right: 5px;
                                }
                                label{
                                    margin-right: 10px;
                                }
                            }
                        }
                        &.signUpForm9{
                            .left{
                                padding: 70px 20px 20px 20px;
                            }
                            .right{
                                input{
                                    display: inline-flex;
                                    margin-right: 5px;
                                    padding: 5px 10px;
                                }
                                .info-box{
                                    width: 100%;
                                    margin-top: 10px;
                                    span{
                                        display: inline-flex;
                                        color: #dd484a;
                                    }
                                }
                                .button-box{
                                    margin-top: 10px;
                                    width: 100%;
                                    display: inline-flex;
                                    .hpingng{
                                        padding: 10px;
                                        background: #5692bc;
                                        color: #fff;
                                        border: 0;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &.signUpForm10{
                            .left{
                                padding: 25px 20px 20px 20px;
                            }
                            .right{
                                input{
                                    margin-right: 5px;
                                    padding: 5px 10px;
                                }
                                i{
                                    margin-right: 5px;
                                }
                                select{
                                    padding: 5px 10px;
                                }
                            }
                        }
                        &.signUpForm11{
                            .left{
                                padding: 70px 20px 20px 20px;
                            }
                            .right{
                                .row1{
                                    .addressBtn{
                                        width: 150px;
                                        padding: 5px 10px;
                                        margin-right: 10px;
                                        background: #6c6c6c;
                                        color: #fff;
                                        border: 0;
                                        cursor: pointer;
                                    }
                                    input{
                                        margin-right: 5px;
                                        padding: 5px 10px;
                                    }
                                }
                                .row2{
                                    margin-top: 10px;
                                    width: 100%;
                                    input{
                                        width: 100%;
                                        margin-right: 5px;
                                        padding: 5px 10px;
                                    }
                                }
                                .row3{
                                    margin-top: 10px;
                                    width: 100%;
                                    input{
                                        width: 100%;
                                        margin-right: 5px;
                                        padding: 5px 10px;
                                    }
                                }
                            }
                        }
                        &.signUpForm12{
                            .left{
                                padding: 20px 20px 20px 20px;
                            }
                            .right{
                                input{
                                    margin-right: 5px;
                                }
                                label{
                                    vertical-align: top;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
            .section3{
                margin-top: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .signUp-btn{
                    width: 140px;
                    background: #5692bc;
                    padding: 10px 0;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    border: 0;
                }
            }
        }
        .main5{
            width: 100%;
            .row1{
                margin-top: 40px;
                width: 100%;
                span{
                    font-size: 18px;
                    font-weight: 500;
                }
                p{
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            .row2{
                margin-top: 50px;
                width: 100%;
                button{
                    width: 140px;
                    padding: 10px 0;
                    background: #6c6c6c;
                    border: 0;
                    color: #fff;
                }
            }
        }
        .foodter{
            margin-top: 50px;
            width: 100%;
            height: 150px;
            border-top: 1px solid #ccc;
            background: #f8f8f8;
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                .left{
                    width: 25%;
                    height: 100%;
                    padding: 40px 20px 40px 20px;
                    .logo{
                        display: block;
                        width: 250px;
                        height: 60px;
                        background: url('../../../public/images/sub/signup/layout.png') 0 0 no-repeat;
                        span{
                        }
                    }
                }
                .rignt{
                    width: 75%;
                    height: 100%;
                    padding: 60px 30px 40px 30px;
                    h2{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    h3{
                        margin-top: 10px;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}