#section1{
    width: 100%;
    .container{
        width: 100%;
        position: relative;
        z-index: 1;
        .img-wrap{
            position: relative;
            overflow: hidden;
            .img-view{
                width: 100%*5;
                display: flex;
                position: relative;
                .img-box{
                    transform: translate(-100%);
                    img{
                        width: 100%;
                    }
                }
            }
            .left-btn{
                position: absolute;
                z-index: 2;
                top: 180px;
                left: 130px;
                >img{
                    width: 46px;
                    height: 46px;
                }

            }
            .right-btn{
                position: absolute;
                z-index: 2;
                top: 180px;
                right: 130px;
                >img{
                    width: 46px;
                    height: 46px;
                }
            }
        }
        .under-slide-wrap{
            display: flex;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.3);
            height: 42px;
            overflow: hidden;
            ul{
                width: 100%;
                height: 42px*4;
                position: relative;
                overflow: hidden;
                li{
                    max-width: 600px;
                    margin: 0 auto;
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 42px;
                    align-items: center;
                    p{
                        padding: 0 0 0 50px;
                        font-size: 14px;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
            .btn-box{
                position: absolute;
                top: 10px;
                width: 18px;
                left:27%;
                display: flex;
                flex-flow: row wrap;
                a{
                    display: block;
                    border: 0;
                    border-bottom: 9px solid #fff;
                    border-right:9px solid transparent;
                    border-left:9px solid transparent;
                    cursor: pointer;
                    &:first-child{
                        margin: 0 0 5px 0;
                    }
                    &:last-child{
                        transform: rotate(-180deg);
                    }
                }
            }
            .second{
                position: absolute;
                top: 14px;
                left:30%;
                h4{
                    color: #fff;
                }
            }
            .three{
                position: absolute;
                top: 14px;
                right:30%;
                cursor: pointer;
                a{
                    color: #fff;
                }
            }
        }
    }
}